FORMAT: 1A
HOST: https://api.uzhenbao.com/

# UZHENBAO API V2

优真宝Android/iOS移动端数据接口

# 文档说明

本文档使用 `RESTful` 风格 API, 当前处于更新期, 在使用过程中如有错误, 及时反馈

# 网络协议

Api使用 `Https` h2协议, 默认端口443

```
https://api.uzhenbao.com
```

# API版本

API 当前版本 `2`,
移动端应在每个请求中加入以下请求头
|Header|Value|
|---|---|
|`api-version`|`2`|

# 请求动作

RESTful API使用如下动词, 完成客户端与服务器间的交互操作

| Method | Description |
|---|---|
| `GET` | 获取单个或列表资源, 正常时返回 `200`, 未找到时返回 `404` |
| `POST` | 创建资源, 正常时返回 `201` |
| `PUT` | 更新一个资源, 成功时返回 `201` |
| `DELETE` | 删除资源, 成功时 `204`|


# HTTP状态码

HTTP状态码是客户端接收服务器响应状态, 根据不同的状态提示用户或处理逻辑, 在接收数据前应首先判断状态码

| Code | Description |
|---|---|
| `200` | Success
| `201` | Success - *资源被创建或更新 (POST, PUT)*
| `204` | Success - *无返回内容 (DELETE)*
| `400` | Bad Request - *请求验证不通过, 参数有误*
| `401` | Unauthorized - *需要登录验证, 未验证的*
| `403` | Forbidden - *权限被拒绝*
| `404` | Not Found - *资源不存在*
| `405` | Method Not Found - *方法不存在*
| `409` | Conflict - *资源已存在*
| `410` | Gone - *资源已失效, 过期*|
| `412` | Precondition Failed - *不满足请求条件*
| `422` | Unprocessible Entity - *验证错误*
| `429` | Rate Limit Exceeded - *请求频繁, 稍后重试*
| `500` | Server Error - *服务器内部错误*
| `503` | Service Unavailable - *服务器繁忙 (30秒内重新尝试请求)*
| `504` | Service Timeout - *请求超时 (30秒内重新尝试请求)*

# 业务状态码

业务状态码会在异常或注意时以`application/json`方式返回给客户端, 字段名为`code`, 通常会附带一条`message`,
当`code` == `status` 时表意与status一致，当`code` != `status`时表业务状态,
部分API还会返回相应的扩展字段

例:
```
{
   "status": 409,
   "code": 409,
   "message": "资源已存在"
}
```

# 数据类型

接口只返回`Application/json`格式数据, 请不要尝试在`Headers`中使用`Accept`来声明接收的意向数据类型


# 验证

*注意: 以下3种验证结果为全局验证，将不再在具体的接口中描述*

## 1.客户端验证

为了api接口安全,需要接口进行签名验证, 每条请求需要在`Headers`中添加如下参数
| Header | Description |
|---|---|
|`app-key`| `9sk82lsSlw9IKM`由系统分配, 固定, 管理平台 app栏目获取 |
|`timestamp`| `1478333136`, unix 时间辍, 单位秒 |
|`sign`| `60ce041f972501bf2be046fc6d7f5617f8677264`, sha1 混淆获取 |

`sign` 算法: `sha1(httpMethod+apiUrl+apiVersion+timestamp+contentLength+appSecret)`, 注意顺序一致

算法参数说明
| Field | Description |
|---|---|
|`httpMethod`|`GET|POST|PUT|DELETE` 大写|
|`apiUrl`|`https://api.uzhenbao.com/goods` 如有`?|&`参数, 需携带|
|`apiVersion`|`1` 当前api版本|
|`timestamp`|`1478333136` unix 时间辍, 单位秒, 注意要与header中的`timestamp`值一致|
|`contentLength`|`0` 请求体总长度|
|`appSecret`|`ksi28Skxmsw01lZs391`  由系统分配, 固定, 管理平台 app栏目获取, 签名密钥, 不可暴露, 移动端应放在安全的位置,或做包混淆|

验证错误会返回如下几种结果:

```
{
  "status": 504,
  "code": 5041,
  "message": "请求超时, 或与服务器时间不同步",
  "server_timestamp": 1478337307
}

```

> 问题原因是客户端与服务器时间不同步导致, 返回的`server_timestamp`为服务器当前时间, 移动端应计算时差以保证时间同步,
后再次重试请求, 如请求失败最多尝试5次, 均失败后停止请求并告知用户:稍后重试

```
{
  "status": 401,
  "code": 4012,
  "message": "sign签名错误"
}
```

> 签名错误, 请确认参数及顺序正确, 核对sha1方法是否有差异

```
{
  "status": 401,
  "code": 4011,
  "message": "应用未验证, 请求不合法"
}
```

> 按要求在`header`中写入相应的参数


```
{
  "status": 409,
  "code": 4091,
  "message": "同资源重复请求"
}
```

> 同一时间内避免重复提交相同内容, 间隔时间为2秒


## 2.请求参数验证

为了保证客户端输入的数据为有效数据，服务器将验证每个接口所需要的特定的参数所支持的数据类型及数据长度等信息

验证错误会返回与当前请求相关的错误信息:

```
{
    "title": [
        "The title may not be greater than 255 characters."
    ],
    "original_price": [
        "The original price field is required."
    ],
}
```


## 3.用户身份验证

需要验证用户身份地方使用`Token`机制验证用户身份, 用户请求接口中使用`Headers`将`user-id`和`access-token`提交给服务器验证

例：

```
{
    user-id: 1,
    access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux
}
```

| Header-key | Value | Description |
|---|---|---|
|`user-id`| `22` | 用户id |
|`access-token`| `$2y$10$Kbz6jSCLHLkm4D5Gp67xhux` | 用户访问token |


验证错误将会返回如下结果：

```
{
  "status": 401,
  "code": 4013,
  "message": "用户身份验证错误, 请重新登录"
}
```


# H5单页

以下页面在合适的位置添加链接或加载至webview

| Description | Url |
|---|---|
| 平台服务协议 | `https://m.uzhenbao.com/users/agreement` |
| 商品售后服务协议 | `https://m.uzhenbao.com/goodsReturns/agreement` |
| 销售者说明 | `https://m.uzhenbao.com/orderResults/agreement` |
| 应用官网 | `https://app.uzhenbao.com` |





# Group 平台商品


## 商品分类 [/products/categories]

商品分类用户获取商品的的品类及品类所持有的属性

Response 部分字段说明

| Key | Value | Description |
|---|---|---|
|`colors`| `[{"name": "红色","value": "#ed5565"}]` | 分类中可选颜色 |
|`styles`| `["石英表", "机械表", "电子表"]` | 分类中可选款式 |
|`textures`|`["镀金", "镶钻", "蓝宝石"]` | 可选材质 |
|`brands`| `["特步", "耐克"]` | 可选品牌 |
|`sizes`| `["S","M", "L", "XL", "XXL", "XXXL"]` | 可选尺寸 |
|`genders`| `["男士", "女士"]` | 可选性别 |


### 所有分类 [GET]

+ Request

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2

+ Response 200 (application/json)

            [
              {
                "id": 1,
                "name": "服装",
                "icon": "",
                "updated_at": "2016-12-27 16:32:05",
                "created_at": "2016-12-27 16:32:21",
                "children": [
                  {
                    "id": 1,
                    "category_id": 1,
                    "name": "打底衫",
                    "keywords": null,
                    "styles": null,
                    "colors": [
                      {
                        "name": "红色",
                        "value": "#ed5565"
                      },
                      {
                        "name": "橙色",
                        "value": "#fc6351"
                      },
                      {
                        "name": "黄色",
                        "value": "#ffce54"
                      },
                      {
                        "name": "绿色",
                        "value": "a0d468"
                      },
                      {
                        "name": "青色",
                        "value": "#48cfad"
                      },
                      {
                        "name": "蓝色",
                        "value": "#5d9cec"
                      },
                      {
                        "name": "紫色",
                        "value": "#ac92ec"
                      },
                      {
                        "name": "粉色",
                        "value": "#ec87c0"
                      },
                      {
                        "name": "棕色",
                        "value": "#804000"
                      },
                      {
                        "name": "黑色",
                        "value": "#656d78"
                      },
                      {
                        "name": "白色",
                        "value": "#f5f7fa"
                      },
                      {
                        "name": "灰色",
                        "value": "#ccd1d9"
                      }
                    ],
                    "textures": null,
                    "genders": [
                      "男士",
                      "女士"
                    ],
                    "models": null,
                    "brands": null,
                    "sizes": [
                      "S",
                      "M",
                      "L",
                      "XL",
                      "XXL",
                      "XXXL"
                    ],
                    "updated_at": "2016-12-27 16:28:34",
                    "created_at": "2016-12-27 16:28:34"
                  },
                  {
                    "id": 2,
                    "category_id": 1,
                    "name": "毛衣",
                    "keywords": null,
                    "styles": null,
                    "colors": [
                      {
                        "name": "红色",
                        "value": "#ed5565"
                      },
                      {
                        "name": "橙色",
                        "value": "#fc6351"
                      },
                      {
                        "name": "黄色",
                        "value": "#ffce54"
                      },
                      {
                        "name": "绿色",
                        "value": "a0d468"
                      },
                      {
                        "name": "青色",
                        "value": "#48cfad"
                      },
                      {
                        "name": "蓝色",
                        "value": "#5d9cec"
                      },
                      {
                        "name": "紫色",
                        "value": "#ac92ec"
                      },
                      {
                        "name": "粉色",
                        "value": "#ec87c0"
                      },
                      {
                        "name": "棕色",
                        "value": "#804000"
                      },
                      {
                        "name": "黑色",
                        "value": "#656d78"
                      },
                      {
                        "name": "白色",
                        "value": "#f5f7fa"
                      },
                      {
                        "name": "灰色",
                        "value": "#ccd1d9"
                      }
                    ],
                    "textures": null,
                    "genders": [
                      "男士",
                      "女士"
                    ],
                    "models": null,
                    "brands": null,
                    "sizes": [
                      "S",
                      "M",
                      "L",
                      "XL",
                      "XXL",
                      "XXXL"
                    ],
                    "updated_at": "2016-12-27 16:28:34",
                    "created_at": "2016-12-27 16:28:34"
                  },
                  {
                    "id": 7,
                    "category_id": 1,
                    "name": "背心",
                    "keywords": null,
                    "styles": null,
                    "colors": [
                      {
                        "name": "红色",
                        "value": "#ed5565"
                      },
                      {
                        "name": "橙色",
                        "value": "#fc6351"
                      },
                      {
                        "name": "黄色",
                        "value": "#ffce54"
                      },
                      {
                        "name": "绿色",
                        "value": "a0d468"
                      },
                      {
                        "name": "青色",
                        "value": "#48cfad"
                      },
                      {
                        "name": "蓝色",
                        "value": "#5d9cec"
                      },
                      {
                        "name": "紫色",
                        "value": "#ac92ec"
                      },
                      {
                        "name": "粉色",
                        "value": "#ec87c0"
                      },
                      {
                        "name": "棕色",
                        "value": "#804000"
                      },
                      {
                        "name": "黑色",
                        "value": "#656d78"
                      },
                      {
                        "name": "白色",
                        "value": "#f5f7fa"
                      },
                      {
                        "name": "灰色",
                        "value": "#ccd1d9"
                      }
                    ],
                    "textures": null,
                    "genders": [
                      "男士"
                    ],
                    "models": null,
                    "brands": null,
                    "sizes": [
                      "S",
                      "M",
                      "L",
                      "XL",
                      "XXL",
                      "XXXL"
                    ],
                    "updated_at": "2016-12-27 16:28:34",
                    "created_at": "2016-12-27 16:28:34"
                  },
                  {
                    "id": 8,
                    "category_id": 1,
                    "name": "裙子",
                    "keywords": null,
                    "styles": [
                      "连衣裙",
                      "半身裙",
                      "短裙"
                    ],
                    "colors": [
                      {
                        "name": "红色",
                        "value": "#ed5565"
                      },
                      {
                        "name": "橙色",
                        "value": "#fc6351"
                      },
                      {
                        "name": "黄色",
                        "value": "#ffce54"
                      },
                      {
                        "name": "绿色",
                        "value": "a0d468"
                      },
                      {
                        "name": "青色",
                        "value": "#48cfad"
                      },
                      {
                        "name": "蓝色",
                        "value": "#5d9cec"
                      },
                      {
                        "name": "紫色",
                        "value": "#ac92ec"
                      },
                      {
                        "name": "粉色",
                        "value": "#ec87c0"
                      },
                      {
                        "name": "棕色",
                        "value": "#804000"
                      },
                      {
                        "name": "黑色",
                        "value": "#656d78"
                      },
                      {
                        "name": "白色",
                        "value": "#f5f7fa"
                      },
                      {
                        "name": "灰色",
                        "value": "#ccd1d9"
                      }
                    ],
                    "textures": null,
                    "genders": [
                      "女士"
                    ],
                    "models": null,
                    "brands": null,
                    "sizes": [
                      "S",
                      "M",
                      "L",
                      "XL",
                      "XXL",
                      "XXXL"
                    ],
                    "updated_at": "2016-12-27 16:28:34",
                    "created_at": "2016-12-27 16:28:34"
                  },
                  {
                    "id": 9,
                    "category_id": 1,
                    "name": "裤子",
                    "keywords": null,
                    "styles": [
                      "短裤",
                      "长裤",
                      "马裤"
                    ],
                    "colors": [
                      {
                        "name": "红色",
                        "value": "#ed5565"
                      },
                      {
                        "name": "橙色",
                        "value": "#fc6351"
                      },
                      {
                        "name": "黄色",
                        "value": "#ffce54"
                      },
                      {
                        "name": "绿色",
                        "value": "a0d468"
                      },
                      {
                        "name": "青色",
                        "value": "#48cfad"
                      },
                      {
                        "name": "蓝色",
                        "value": "#5d9cec"
                      },
                      {
                        "name": "紫色",
                        "value": "#ac92ec"
                      },
                      {
                        "name": "粉色",
                        "value": "#ec87c0"
                      },
                      {
                        "name": "棕色",
                        "value": "#804000"
                      },
                      {
                        "name": "黑色",
                        "value": "#656d78"
                      },
                      {
                        "name": "白色",
                        "value": "#f5f7fa"
                      },
                      {
                        "name": "灰色",
                        "value": "#ccd1d9"
                      }
                    ],
                    "textures": null,
                    "genders": [
                      "男士",
                      "女士"
                    ],
                    "models": null,
                    "brands": null,
                    "sizes": [
                      "S",
                      "M",
                      "L",
                      "XL",
                      "XXL",
                      "XXXL"
                    ],
                    "updated_at": "2016-12-27 16:28:34",
                    "created_at": "2016-12-27 16:28:34"
                  },
                  {
                    "id": 10,
                    "category_id": 1,
                    "name": "西装",
                    "keywords": null,
                    "styles": null,
                    "colors": [
                      {
                        "name": "红色",
                        "value": "#ed5565"
                      },
                      {
                        "name": "橙色",
                        "value": "#fc6351"
                      },
                      {
                        "name": "黄色",
                        "value": "#ffce54"
                      },
                      {
                        "name": "绿色",
                        "value": "a0d468"
                      },
                      {
                        "name": "青色",
                        "value": "#48cfad"
                      },
                      {
                        "name": "蓝色",
                        "value": "#5d9cec"
                      },
                      {
                        "name": "紫色",
                        "value": "#ac92ec"
                      },
                      {
                        "name": "粉色",
                        "value": "#ec87c0"
                      },
                      {
                        "name": "棕色",
                        "value": "#804000"
                      },
                      {
                        "name": "黑色",
                        "value": "#656d78"
                      },
                      {
                        "name": "白色",
                        "value": "#f5f7fa"
                      },
                      {
                        "name": "灰色",
                        "value": "#ccd1d9"
                      }
                    ],
                    "textures": null,
                    "genders": [
                      "男士"
                    ],
                    "models": null,
                    "brands": null,
                    "sizes": [
                      "S",
                      "M",
                      "L",
                      "XL",
                      "XXL",
                      "XXXL"
                    ],
                    "updated_at": "2016-12-27 16:28:34",
                    "created_at": "2016-12-27 16:28:34"
                  }
                ]
              },
              {
                "id": 2,
                "name": "箱包",
                "icon": "",
                "updated_at": "2016-12-27 16:32:05",
                "created_at": "2016-12-27 16:32:21",
                "children": []
              },
              {
                "id": 3,
                "name": "配饰",
                "icon": "",
                "updated_at": "2016-12-27 16:32:05",
                "created_at": "2016-12-27 16:32:21",
                "children": [
                  {
                    "id": 11,
                    "category_id": 3,
                    "name": "腕表",
                    "keywords": "手表",
                    "styles": [
                      "石英表",
                      "机械表",
                      "电子表"
                    ],
                    "colors": [
                      {
                        "name": "红色",
                        "value": "#ed5565"
                      },
                      {
                        "name": "橙色",
                        "value": "#fc6351"
                      },
                      {
                        "name": "黄色",
                        "value": "#ffce54"
                      },
                      {
                        "name": "绿色",
                        "value": "a0d468"
                      },
                      {
                        "name": "青色",
                        "value": "#48cfad"
                      },
                      {
                        "name": "蓝色",
                        "value": "#5d9cec"
                      },
                      {
                        "name": "紫色",
                        "value": "#ac92ec"
                      },
                      {
                        "name": "粉色",
                        "value": "#ec87c0"
                      },
                      {
                        "name": "棕色",
                        "value": "#804000"
                      },
                      {
                        "name": "黑色",
                        "value": "#656d78"
                      },
                      {
                        "name": "白色",
                        "value": "#f5f7fa"
                      },
                      {
                        "name": "灰色",
                        "value": "#ccd1d9"
                      }
                    ],
                    "textures": [
                      "镀金",
                      "镶钻",
                      "蓝宝石"
                    ],
                    "genders": [
                      "男士",
                      "女士"
                    ],
                    "models": null,
                    "brands": null,
                    "sizes": null,
                    "updated_at": "2016-12-27 16:28:34",
                    "created_at": "2016-12-27 16:28:34"
                  },
                  {
                    "id": 12,
                    "category_id": 3,
                    "name": "帽子",
                    "keywords": null,
                    "styles": null,
                    "colors": [
                      {
                        "name": "红色",
                        "value": "#ed5565"
                      },
                      {
                        "name": "橙色",
                        "value": "#fc6351"
                      },
                      {
                        "name": "黄色",
                        "value": "#ffce54"
                      },
                      {
                        "name": "绿色",
                        "value": "a0d468"
                      },
                      {
                        "name": "青色",
                        "value": "#48cfad"
                      },
                      {
                        "name": "蓝色",
                        "value": "#5d9cec"
                      },
                      {
                        "name": "紫色",
                        "value": "#ac92ec"
                      },
                      {
                        "name": "粉色",
                        "value": "#ec87c0"
                      },
                      {
                        "name": "棕色",
                        "value": "#804000"
                      },
                      {
                        "name": "黑色",
                        "value": "#656d78"
                      },
                      {
                        "name": "白色",
                        "value": "#f5f7fa"
                      },
                      {
                        "name": "灰色",
                        "value": "#ccd1d9"
                      }
                    ],
                    "textures": null,
                    "genders": [
                      "男士",
                      "女士"
                    ],
                    "models": null,
                    "brands": null,
                    "sizes": [
                      "S",
                      "M",
                      "L",
                      "XL",
                      "XXL",
                      "XXXL"
                    ],
                    "updated_at": "2016-12-27 16:28:34",
                    "created_at": "2016-12-27 16:28:34"
                  },
                  {
                    "id": 13,
                    "category_id": 3,
                    "name": "太阳眼镜",
                    "keywords": "",
                    "styles": null,
                    "colors": null,
                    "textures": null,
                    "genders": [
                      "男士",
                      "女士"
                    ],
                    "models": null,
                    "brands": null,
                    "sizes": null,
                    "updated_at": "2017-01-03 15:05:51",
                    "created_at": "2017-01-03 15:05:51"
                  },
                  {
                    "id": 14,
                    "category_id": 3,
                    "name": "腰带",
                    "keywords": "裤带",
                    "styles": null,
                    "colors": null,
                    "textures": [
                      "皮革",
                      "牛皮"
                    ],
                    "genders": [
                      "男士",
                      "女士"
                    ],
                    "models": null,
                    "brands": null,
                    "sizes": null,
                    "updated_at": "2017-01-03 15:05:51",
                    "created_at": "2017-01-03 15:05:51"
                  }
                ]
              },
            ]


### 匹配分类 [GET /products/categories/match]

用于搜索时对关键词进行解析, 匹配出相近的栏目并返回栏目数据, 如未匹配出, 则给出通用筛选数据

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2

    + Attributes

        + keywords: 石英表 (string, required) - 关键词

+ Response 200 (application/json)

            {
              "id": 11,
              "category_id": 3,
              "name": "腕表",
              "image": null,
              "keywords": "手表",
              "styles": [
                "石英表",
                "机械表",
                "电子表"
              ],
              "colors": [
                {
                  "name": "红色",
                  "value": "#ed5565"
                },
                {
                  "name": "橙色",
                  "value": "#fc6351"
                },
                {
                  "name": "黄色",
                  "value": "#ffce54"
                },
                {
                  "name": "绿色",
                  "value": "a0d468"
                },
                {
                  "name": "青色",
                  "value": "#48cfad"
                },
                {
                  "name": "蓝色",
                  "value": "#5d9cec"
                },
                {
                  "name": "紫色",
                  "value": "#ac92ec"
                },
                {
                  "name": "粉色",
                  "value": "#ec87c0"
                },
                {
                  "name": "棕色",
                  "value": "#804000"
                },
                {
                  "name": "黑色",
                  "value": "#656d78"
                },
                {
                  "name": "白色",
                  "value": "#f5f7fa"
                },
                {
                  "name": "灰色",
                  "value": "#ccd1d9"
                }
              ],
              "textures": [
                "镀金",
                "镶钻",
                "蓝宝石"
              ],
              "genders": [
                "男士",
                "女士"
              ],
              "models": null,
              "brands": null,
              "sizes": null,
              "updated_at": "2016-12-27 16:28:34",
              "created_at": "2016-12-27 16:28:34"
            }

+ Response 404 (application/json)

            {
              "genders": [
                "男士",
                "女士"
              ],
              "colors": [
                {
                  "name": "红色",
                  "value": "#ed5565"
                },
                {
                  "name": "橙色",
                  "value": "#fc6351"
                },
                {
                  "name": "黄色",
                  "value": "#ffce54"
                },
                {
                  "name": "绿色",
                  "value": "a0d468"
                },
                {
                  "name": "青色",
                  "value": "#48cfad"
                },
                {
                  "name": "蓝色",
                  "value": "#5d9cec"
                },
                {
                  "name": "紫色",
                  "value": "#ac92ec"
                },
                {
                  "name": "粉色",
                  "value": "#ec87c0"
                },
                {
                  "name": "棕色",
                  "value": "#804000"
                },
                {
                  "name": "黑色",
                  "value": "#656d78"
                },
                {
                  "name": "白色",
                  "value": "#f5f7fa"
                },
                {
                  "name": "灰色",
                  "value": "#ccd1d9"
                }
              ]
            }

## 关键词 [/products/keywords]

商品搜索时应根据用户每次输入的文字即时向服务器请求, 获取相关关键词

当输入`name`时，服务器返回关键词提示

热词是根据全网用户的热词频率或是后台设定的热词, 移动端应在进入搜索页面时展示这些关键词以便用户使用

当不输入`name`时， 服务器返回高频词或热词

>提醒: 用户登录后需要传身份, 未登录可不传

### 获取 [GET]


+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux

    + Attributes

        + name: 鞋子 (optional, string) - keywords

+ Response 200 (application/json)

            [
                {
                    "id": 3,
                    "name": "鞋子",
                    "uses": 1,
                    "is_hot": 1,
                    "sort": 5,
                    "created_at": "2016-09-02 14:20:14",
                    "updated_at": "2016-09-05 13:08:25"
                }
            ]

+ Response 404 (application/json)

            {
                "status": 404,
                "code": 404,
                "message": "资源不存在"
            }


## 获取商品 [/products]

### 列表 [GET]

商品列表展示为全站商品, 提供分页, 可用于首页底部商品部分和搜索页面

商品支持搜索,排序,筛选和自定义分页, 搜索支持`keywords`搜索

排序支持 `默认`, `销量`, `价格`,按`升序` 或 `降序` 排列, 注意根据不同的属性应设一个默认排序,
例如用户点击销量应默认为`降序`, 而价格默认为`升序`

筛选支持按分类所有属性筛选, `价格`值为区间 用 `-` 连接表示, 例如`1-200`意为筛选价格1-200(含)之间的的商品,
`-200` 为小于等于200的商品, `200-` 为大于等于200的商品


Request 参数

| Key | Value | Required | Lenght | Description |
|---|---|---|---|---|
|`keywords`| 衬衫 | false | (0, 255] | 标题或关键词 |
|`per_page`| 15 | false | (0, 255] | 分页控制, 默认每页15条数据 |
|`filter[texture]`| 镀金 | false | (0, 255] | 筛选材质 |
|`filter[size]`| xl | false | (0, 255] | 筛选尺寸 |
|`filter[color]`| 红色 | false | (0, 255] | 筛选颜色 |
|`filter[style]`| 低领 | false | (0, 255] | 筛选款式 |
|`filter[banrd]`| 阿迪达斯 | false | (0, 255] | 筛选品牌 |
|`filter[gender]`| 男士 | false | (0, 255] | 筛选性别 |
|`filter[model]`| a3230 | false | (0, 255] | 筛选型号 |
|`filter[price]`| 200-1000 | false | (0, 255] | 筛选价格 |
|`sort[id]`| desc | false | (0, 255] | 默认排序, id 降序 |
|`sort[price]`| asc | false | (0, 255] | 价格升序 |
|`sort[sales]`| desc | false | (0, 255] | 销量降序 |


+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2

    + Attributes

        + keywords: 男装 (string, optional) - keyword
        + per_page: 15 (optional, number) - default per page is 15
        + sort (object, optional)
            + price: desc - (asc)
            + id: desc - (asc)
            + sales: desc - (asc)
        + filter (object, optional)
            + price: 1-200 (string) - price interval


+ Response 200 (application/json)

            {
              "total": 2,
              "per_page": 15,
              "current_page": 1,
              "last_page": 1,
              "next_page_url": null,
              "prev_page_url": null,
              "from": 1,
              "to": 2,
              "data": [
                {
                  "id": 12,
                  "category_id": 1,
                  "user_id": 0,
                  "title": "121",
                  "keywords": "",
                  "description": "",
                  "price": "0.01",
                  "reference_price": "0.00",
                  "likes": 0,
                  "sales": 0,
                  "comments": 0,
                  "views": 0,
                  "favorites": 0,
                  "product_no": "",
                  "rebate": "0.00",
                  "title_image": "http://devapi.uzhenbao.com/uploads/products/20161230105631577743.jpg",
                  "postage": "0.00",
                  "stock": 92,
                  "sort": 0,
                  "type": 0,
                  "status": 1,
                  "created_at": "2016-12-30 10:57:15",
                  "updated_at": "2016-12-30 10:59:26",
                  "flash_buy_id": 0,
                  "group_buy_id": 0,
                  "group_buy_preferential_price": "0.00",
                  "week_return": 0,
                  "seller_id": null,
                  "sizes": null,
                  "colors": null,
                  "genders": null
                },
                {
                  "id": 11,
                  "category_id": 1,
                  "user_id": 0,
                  "title": "测试",
                  "keywords": "",
                  "description": "",
                  "price": "0.01",
                  "reference_price": "1.00",
                  "likes": 0,
                  "sales": 0,
                  "comments": 0,
                  "views": 0,
                  "favorites": 0,
                  "product_no": "",
                  "rebate": "0.00",
                  "title_image": "http://devapi.uzhenbao.com/uploads/products/20161230105411348894.jpg",
                  "postage": "0.00",
                  "stock": 33,
                  "sort": 0,
                  "type": 0,
                  "status": 1,
                  "created_at": "2016-12-30 10:27:28",
                  "updated_at": "2016-12-30 10:57:54",
                  "flash_buy_id": 0,
                  "group_buy_id": 0,
                  "group_buy_preferential_price": "0.00",
                  "week_return": 1,
                  "seller_id": null,
                  "sizes": null,
                  "colors": null,
                  "genders": null
                }
              ]
            }

### 详情 [GET /products/{id}]

商品内容为商品的全部信息, 包含商品库存量和价格详情, 移动端应根据库存量的组成信息实现相应的交互逻辑, 如颜色和尺寸的相互关系:
点击颜色可供挑选的尺寸, 点击尺寸可供挑选的颜色;
库存量与商品预览图的关系:用户在点击颜色时应根据库存量提供的image替换预览图. 注意尺寸和图片不存在的情况

商品内容在用户已登录的情况下需要`user-id`和`access-token`验证用户身份, 该信息用于验证用户于该商品之间的联系,
验证通过后会增加`is_favorite`字段, 否则不显示此字段

+ Parameters

    + id: 2 (string) - id of goods

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22,
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux

+ Response 200 (application/json)

            {
              "id": 11,
              "category_id": 1,
              "user_id": 0,
              "title": "测试",
              "keywords": "",
              "description": "",
              "price": "0.01",
              "reference_price": "1.00",
              "likes": 0,
              "sales": 0,
              "comments": 0,
              "views": 5,
              "favorites": 0,
              "product_no": "",
              "rebate": "0.00",
              "title_image": "http://devapi.uzhenbao.com/uploads/products/20161230105411348894.jpg",
              "postage": "0.00",
              "stock": 33,
              "sort": 0,
              "type": 0,
              "status": 1,
              "created_at": "2016-12-30 10:27:28",
              "updated_at": "2016-12-30 13:13:34",
              "flash_buy_id": 0,
              "group_buy_id": 0,
              "group_buy_preferential_price": "0.00",
              "week_return": 1,
              "seller_id": null,
              "sizes": null,
              "colors": null,
              "genders": null,
              "items": [
                {
                  "id": 21,
                  "product_id": 11,
                  "color": "1",
                  "size": "1",
                  "price": "0.01",
                  "image": "https://devapi.uzhenbao.com/uploads/products/20161230105425926650.jpg",
                  "stock": 11,
                  "updated_at": "2016-12-30 10:55:27",
                  "created_at": "2016-12-30 10:27:23"
                },
                {
                  "id": 24,
                  "product_id": 11,
                  "color": "4",
                  "size": "45",
                  "price": "0.01",
                  "image": "https://devapi.uzhenbao.com/uploads/products/20161230105454366477.jpg",
                  "stock": 11,
                  "updated_at": "2016-12-30 10:56:01",
                  "created_at": "2016-12-30 10:56:01"
                },
                {
                  "id": 27,
                  "product_id": 11,
                  "color": "2",
                  "size": "22",
                  "price": "0.01",
                  "image": "https://devapi.uzhenbao.com/uploads/products/20161230105659652838.png",
                  "stock": 11,
                  "updated_at": "2016-12-30 10:57:49",
                  "created_at": "2016-12-30 10:57:49"
                }
              ],
              "detail": {
                "product_id": 11,
                "content": "<p><img class=\"fr-fin\" data-fr-image-preview=\"false\" alt=\"Image title\" src=\"https://devapi.uzhenbao.com/uploads/products/14830647156758_products.jpg\" width=\"300\"></p><p><br></p>",
                "images": [
                  "http://devapi.uzhenbao.com/uploads/products/20161230102506197456.png"
                ],
                "updated_at": "2016-12-30 10:27:28",
                "created_at": "2016-12-30 10:27:28"
              },
              "flash_buy": null,
              "group_buy": null,
              "is_favorite": null
            }

+ Response 404 (application/json)

            {
                "status": 404,
                "message": "此商品已下架或不存在"
            }



# 购买商品 [/users/{userId}]

购买商品APP执行流程: `预览订单` -> `生成订单` -> `选择支付方式获取平台交易信息` -> `客户端向支付平台发起交易` ->
`平台返回结果`


预览订单及生成订单 数据字段
| Key | Value | Data Type | Required | Description |
|---|---|---|---|---|
| items | object | array | required | 购买商品清单 |
| object.product_id| 1 | number | required | 商品id |
| object.product_item_id | 1 | number | required | 商品库存id |
| object.amount | 1 | number | required | 购买数量 |
| object.car_id| 1 | number | optional | 购物车对应id |
| shipping_address_id | 1 | number | required | 收货地址id |
| coupon_id | 1 | number | optional | 优惠券id |
| is_invoice | 1 | number |required | 是否开具发票， 1: 是, 0: 否|
| memo | 这是备注 | string | optional | 备注, 最多255字 |


### 预览订单 [POST /users/{userId}/orders/preview]

生成订单前使用此接口确认库存, 优惠及价格信息, 是否可使用优惠券等, 提交的数据可与生成订单保持一致


+ Parameters

    + userId: 22 - 已登录用户id

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux

    + Attributes

        + items (array, required)
            + (object)
                + product_id: 2 (required) - id of a goods
                + product_item_id: 23 (required) - id of a goods sku
                + amount: 1 (required) - buy amounts
                + car_id: 2 (optional) - shopping car id
            + (object)
                + product_id: 2 (required) - id of a goods
                + product_item_id: 23 (required) - id of a goods sku
                + amount: 1 (required) - buy amounts
                + car_id: 3 (optional) - shopping car id
        + shipping_address_id: 4 (required) - 收货地址id
        + is_invoice: 0 (required, number) - 默认0 不开具发票, 1 开发票
        + coupon_id: 1 (optional, number) - 优惠券id
        + memo: 这是备注内容 (optional, string) - 备注内容, 最多255字


+ Response 200 (application/json)

            {
              "total_price": 157.7,
              "original_price": 157.7,
              "postage": 0,
              "coupon_price": 0,
              "available_coupons": [
                {
                  "id": 66,
                  "coupon_id": 5,
                  "coupon_no_id": 20,
                  "user_id": 22,
                  "created_at": "2016-10-12 17:53:53",
                  "updated_at": "2016-10-12 19:31:06",
                  "is_used": 0,
                  "expired_at": "2016-10-01 19:30:50",
                  "one_coupon": {
                    "id": 5,
                    "name": "测试",
                    "amount": 100,
                    "allowance": 92,
                    "cash": "0.11",
                    "overflow_price": "0.00",
                    "created_at": "2016-10-10 15:35:39",
                    "updated_at": "2016-10-13 10:23:33",
                    "expired_at": "2016-10-21 00:00:00",
                    "deleted_at": null,
                    "issue_id": 1,
                    "start_at": null,
                    "end_at": null,
                    "category_id": 0,
                    "one_category": null
                  }
                },
                {
                  "id": 67,
                  "coupon_id": 5,
                  "coupon_no_id": 79,
                  "user_id": 22,
                  "created_at": "2016-10-12 17:56:06",
                  "updated_at": "2016-10-12 19:31:03",
                  "is_used": 0,
                  "expired_at": "2016-10-01 19:30:50",
                  "one_coupon": {
                    "id": 5,
                    "name": "测试",
                    "amount": 100,
                    "allowance": 92,
                    "cash": "0.11",
                    "overflow_price": "0.00",
                    "created_at": "2016-10-10 15:35:39",
                    "updated_at": "2016-10-13 10:23:33",
                    "expired_at": "2016-10-21 00:00:00",
                    "deleted_at": null,
                    "issue_id": 1,
                    "start_at": null,
                    "end_at": null,
                    "category_id": 0,
                    "one_category": null
                  }
                }
              ]
            }


+ Response 404 (application/json)

            {
              "status": 404,
              "code": 4045,
              "message": "收货地址不存在"
            }

+ Response 404 (application/json)

            {
              "status": 404
              "code": 4001,
              "message": "商品或库存量不存在,或已下架",
              "ids": [
                {
                "product_id": "1",
                "product_item_id": "1"
                },
                {
                "product_id": "2",
                "product_item_id": "11"
                },
                {
                "product_id": "14",
                "product_item_id": "13"
                }
              ]
            }

+ Response 403 (application/json)

            {
              "status": 403,
              "code": 4002,
              "message": "商品库存不足",
              "ids": [
                {
                "product_id": "2",
                "product_item_id": "12"
                },
                {
                "product_id": "2",
                "product_item_id": "12"
                }
              ]
            }

+ Response 404 (application/json)

            {
                "status": 404,
                "code": 4046,
                "message": "优惠券不存在"
            }

+ Response 403 (application/json)

            {
                "status": 403,
                "code": 4005,
                "message": "优惠券不可使用"
            }


### 生成订单 [POST /users/{userId}/orders]

生成订单时可选传购物车`id`, 当订单生成后由系统删除购物车内商品,
不传订单`id`的场景为不加入购物车直接购买, 此操作为入库操作, 但是由于库存等其它不确定的因素存在, 仍有很多可能导致交易中止, 移动端应再次处理相应逻辑

+ Parameter

    + userId: 22 - 已登录用户id

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux

    + Attributes

        + items (array, required)
            + (object)
                + product_id: 2 (required) - id of a goods
                + product_item_id: 23 (required) - id of a goods sku
                + amount: 1 (required) - buy amounts
                + car_id: 2 (optional) - shopping car id
            + (object)
                + product_id: 2 (required) - id of a goods
                + product_item_id: 23 (required) - id of a goods sku
                + amount: 1 (required) - buy amounts
                + car_id: 3 (optional) - shopping car id
        + shipping_address_id: 4 (required) - 收货地址id
        + is_invoice: 0 (required, number) - 默认0 不开具发票, 1 开发票
        + coupon_id: 1 (optional, number) - 优惠券id
        + memo: 这是备注内容 (optional, string) - 备注内容, 最大字符:512

+ Response 201 (application/json)

            {
                "id": 684,
                "order_no": "M1610192008047292197",
                "status": 0,
                "user_id": 22,
                "amount": 3,
                "total_price": "54000.00",
                "memo": "哈哈",
                "updated_at": "2016-10-19 11:20:41",
                "created_at": "2016-10-19 11:20:41",
                "deleted_at": null,
                "cancel_id": null,
                "cancel_description": null,
                "express_id": null,
                "tracking_number": null,
                "pay_platform_id": null,
                "coupon_id": null,
                "is_invoice": 0,
                "invoice_type": null,
                "invoiced": null
            }

+ Response 404 (application/json)

            {
              "status": 404,
              "code": 4045,
              "message": "收货地址不存在"
            }

+ Response 404 (application/json)

            {
              "status": 404,
              "code": 4001,
              "message": "商品或库存量不存在,或已下架",
              "ids": [
                {
                "product_id": "1",
                "product_item_id": "1"
                },
                {
                "product_id": "2",
                "product_item_id": "11"
                },
                {
                "product_id": "14",
                "product_item_id": "13"
                }
              ]
            }

+ Response 403 (application/json)

            {
              "status": 403,
              "code": 4002,
              "message": "商品库存不足",
              "ids": [
                {
                "product_id": "2",
                "product_item_id": "12"
                },
                {
                "product_id": "2",
                "product_item_id": "12"
                }
              ]
            }

+ Response 404 (application/json)

            {
                "status": 404,
                "code": 4046,
                "message": "优惠券不存在"
            }

+ Response 403 (application/json)

            {
                "status": 403,
                "code": 4005,
                "message": "优惠券不可使用"
            }


### 支付宝支付 [GET /users/{userId}/orders/{id}/alipay]

+ Parameters

    + userId: 22 (number) - 当前用户id
    + id: 1 (number) - 订单id, 注意非 orderNo

+ Request (application/json)

    + Headers


            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux

+ Response 200 (application/json)

            {
              "pay_platform_id": 1,
              "order_string": "alipay_sdk=lokielse%2Fomnipay-alipay&app_id=2016101802222984&biz_content=%7B%22subject%22%3A%22test%22%2C%22out_trade_no%22%3A%22M1609278990572370534%22%2C%22total_amount%22%3A%222000.00%22%2C%22product_code%22%3A%22QUICK_MSECURITY_PAY%22%7D&charset=UTF-8&format=JSON&method=alipay.trade.app.pay&notify_url=http%3A%2F%2Fv1.api.y-r-one.com%2Falipay%2Fnotify&sign_type=RSA&timestamp=2016-10-19+13%3A01%3A54&version=1.0&sign=gSy4qXzWmVm718TqjWw%2Bpl13yh0zfWrxX10QfUxbggVP6wJsa68673n%2Bop5KiSTU0PL2OqQFRcl0s5eIThvs8iMi2stW8fvk23JeiHbg35gSkuffc2No2IyzWOPgW9c10SxA3rx%2BG2FtB9QgzuNwLJBKBGRkG7UVjjsZJimr8mM%3D"
            }


### 微信支付 [GET /users/{userId}/orders/{id}/wechat]

+ Parameters

    + id: 22 (number) - 用户id

+ Request

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux

+ Response 200 (application/json)

            {
              "pay_platform_id": 2,
              "order_info": {
                "appid": "wxf4110050c5a73bf4",
                "partnerid": "1414572802",
                "prepayid": "wx20161123143139f08fc830f80637825521",
                "noncestr": "089775b083184556bbb204e7d85ec0d0",
                "timestamp": 1479882699,
                "sign": "A4DD4C8CC35E3CD2528406CD9A07554A",
                "packagevalue": "Sign=WXPay"
              }
            }


+ Response 404 (application/json)

            {
                "status": 404,
                "code": 40411,
                "message": "订单不存在"
            }







## 售后支持 [/productReturns]

支持7天无理由的商品可以直接进行商品退换, 不支持7天无理由或超出7天无理由期限的商品可申请退换


### 申请退换 [POST /productReturnApplies]

+ Request (application/json)

    + Headers


            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2

    + Attributes

        + order_id: 131 (number, required) - 订单id
        + product_id: 110 (number, required) - 商品id
        + product_item_id: 90 (number, required) - 商品sku id
        + return_type: 0 (number, required) - 0 退货, 1 换货
        + description: 不想要了 (string, required) - 申请退换货说明, 最多512个字
        + images (optional, array)
            + (object) - image, multipart/form-data, 图片数组, key为images[i] i为数组下标, 最多可上传9张图片


+ Response 201 (application/json)

            {
                "status": 201,
                "code", 201,
                "message": "保存成功"
            }

+ Response 409 (application/json)

            {
                "status": 409,
                "code": 4099,
                "message": "该商品已申请过退换货"
            }

+ Response 404 (application/json)

            {
                "status": 404,
                "code": 404,
                "message": "订单不存在"
            }

+ Response 403 (application/json)

            {
                "status": 403,
                "code": 4037,
                "message": "商品不满足退换条件"
            }


### 退换 [POST]

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2

    + Attributes

        + order_id: 131 (number, required) - 订单id
        + product_id: 110 (number, required) - 商品id
        + product_item_id: 90 (number, required) - 商品sku id
        + return_type: 0 (number, required) - 0 退货, 1 换货
        + description: 不想要了 (string, optional) - 退换货说明, 最多255个字
        + express_name: 顺丰速运 (string, required) - 快递承运商, 最多255个字
        + tracking_number: 873839022910 (string, required) - 运单号, 最多255个字
        + amount: 1 (number, required) - 退换数量, 注意不能超过已购买的总数量


+ Response 201 (application/json)

            {
                "status": 201,
                "code": 201,
                "message": "保存成功"
            }

+ Response 409 (application/json)

            {
                "status": 409,
                "code": 4098,
                "message": "该商品已退换"
            }

+ Response 404 (application/json)

            {
                "status": 404,
                "code": 404,
                "message": "订单不存在"
            }

+ Response 403 (application/json)

            {
                "status": 403,
                "code": 4034,
                "message": "超出订单购买数量"
            }


+ Response 403 (application/json)

            {
                "status": 403,
                "code": 4035,
                "message": "该商品不支持直接退换或超出可无理由退换期限"
            }

+ Response 403 (application/json)

            {
                "status": 403,
                "code": 4036,
                "message": "退换申请不存在"
            }

+ Response 403 (application/json)

            {
                "status": 403,
                "code": 4037,
                "message": "商品不满足退换条件"
            }


## 购物车 [/users/{userId}/shoppingCars]

### 加入购物车 [POST]

+ Parameters

    + userId: 22 - id of an user

+ Request (application/json)

    + Attributes

        + product_id: 11 (number, required) - goods id
        + product_item_id: 23 (number, required) - goods sku id
        + amount: 1 (number, required) - buy amount

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux

+ Response 201 (application/json)

            {
                "product_id":"73",
                "product_item_id":"48",
                "amount":"2",
                "title":"Louis Vuitton/路易威登 女士 蒙田大号两用手提单肩包MONTAIGNE 老花色、帆布/配皮 M41067",
                "title_image":"http://v1.api.y-r-one.com/uploads/goods/14725287591358_goods.jpg",
                "user_id":"22",
                "updated_at":"2016-09-26 11:52:38",
                "created_at":"2016-09-26 11:52:38",
                "id":162
            }


### 购物车内商品列表 [GET]

+ Parameters

    + userId: 22 - id of an user

+ Request

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux

+ Response 200 (application/json)

            [
              {
                "id": 1,
                "user_id": 4,
                "product_id": 11,
                "product_item_id": 21,
                "amount": 2,
                "created_at": "2017-01-03 10:16:59",
                "updated_at": "2017-01-03 10:16:59",
                "title": "测试",
                "title_image": "http://devapi.uzhenbao.com/uploads/products/20161230105411348894.jpg",
                "product": {
                  "id": 11,
                  "category_id": 1,
                  "user_id": 0,
                  "title": "测试",
                  "keywords": "",
                  "description": "",
                  "price": "0.01",
                  "reference_price": "1.00",
                  "likes": 0,
                  "sales": 0,
                  "comments": 0,
                  "views": 8,
                  "favorites": 0,
                  "product_no": "",
                  "rebate": "0.00",
                  "title_image": "http://devapi.uzhenbao.com/uploads/products/20161230105411348894.jpg",
                  "postage": "0.00",
                  "stock": 33,
                  "sort": 0,
                  "type": 0,
                  "status": 1,
                  "created_at": "2016-12-30 10:27:28",
                  "updated_at": "2016-12-30 18:50:25",
                  "flash_buy_id": 0,
                  "group_buy_id": 0,
                  "group_buy_preferential_price": "0.00",
                  "week_return": 1,
                  "seller_id": null,
                  "sizes": null,
                  "colors": null,
                  "genders": null
                },
                "product_item": {
                  "id": 21,
                  "product_id": 11,
                  "color": "1",
                  "size": "1",
                  "price": "0.01",
                  "image": "https://devapi.uzhenbao.com/uploads/products/20161230105425926650.jpg",
                  "stock": 9,
                  "updated_at": "2016-12-30 13:51:06",
                  "created_at": "2016-12-30 10:27:23"
                }
              }
            ]


### 删除购物中商品 [DELETE /users/{userId}/shoppingCars/{id}]

+ Parameters

    + userId: 22 - id of an user
    + id: 4 - id in car of the goods

+ Request

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux

+ Response 204



## 收藏 [/users/{userId}/favorites/products]

Request 参数说明

| key | Value | Description |
|---|---|---|
|`favorite_id`| 1 | 收藏类型的id, 注意此处不是指收藏列表本身的id,例:收藏商品,此处应是商品的id; 收藏主题,此处应是主题的id |

### 加入收藏 [POST]

+ Parameters

    + userId: 22 - id of a user

+ Request (application/json)

    + Attributes

        + favorite_id: 11 (number, required) - product id

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux

+ Response 201 (application/json)

            {
                "favorite_id":"104",
                "user_id":"22",
                "favorite_type":"product",
                "title":"121",
                "title_image":"http://devapi.uzhenbao.com/uploads/goods/14731270876338_goods.jpg",
                "description":"1212",
                "updated_at":"2016-09-08 16:33:42",
                "created_at":"2016-09-08 16:33:42",
                "id":214
            }

+ Response 404 (application/json)

            {
                "status": 404,
                "message": "product.id 不存在"
            }

+ Response 409 (application/json)

            {
                "status": 409,
                "code": 4096,
                "message": "已收藏product.id"
            }


### 取消收藏 [DELETE /users/{userId}/favorites/products/{id}]

+ Parameters

    + userId: 22 - id of a user
    + id: 12 - product id

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux

+ Response 204



### 收藏列表 [GET]

+ Parameters

    + userId: 22 - id of a user

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux

+ Response 200 (application/json)

            {
                "total":1,
                "per_page":15,
                "current_page":1,
                "last_page":1,
                "next_page_url":null,
                "prev_page_url":null,
                "from":1,
                "to":1,
                "data":[
                    {
                        "id":214,
                        "user_id":22,
                        "favorite_id":104,
                        "favorite_type":"product",
                        "title":"121",
                        "title_image":"http://devapi.uzhenbao.com/uploads/goods/14731270876338_goods.jpg",
                        "description":"1212",
                        "created_at":"2016-09-08 16:33:42",
                        "updated_at":"2016-09-08 16:33:42"
                    }
                ]
            }



## 咨询 [/products/{id}/consultations]

商品咨询是用户对商品健介绍不足的一种补充信息, 移动端应将咨询内容应放在商品详情页中, 便于用户查看

### 列表 [GET]

+ Parameters

    + id: 11 (number) - 商品id

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2

+ Response 200 (application/json)

            {
              "total": 1,
              "per_page": 15,
              "current_page": 1,
              "last_page": 1,
              "next_page_url": null,
              "prev_page_url": null,
              "from": 1,
              "to": 1,
              "data": [
                {
                  "id": 1,
                  "product_id": 11,
                  "name": "张三",
                  "user_id": 1,
                  "content": "这是真的吗",
                  "reply": null,
                  "created_at": "2016-12-16 11:52:36",
                  "updated_at": "2016-12-16 11:52:36"
                }
              ]
            }

### 发布 [POST]

+ Parameters

    + id: 11 (number) - 商品id

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2

    + Attributes

        + name: 我是好孩子 (required, string) - 用户名
        + user_id: 11 (number, optional) - 用户id
        + content: 咨询的内容 (string, required) - 用户咨询的内容, 最多255字

+ Response 201 (application/json)

            {
                "status": 201,
                "message": "发表成功"
            }

+ Response 404 (application/json)

            {
                "status": 404,
                "message": "商品不存在,或已下架"
            }





# Group 用户商品

## 分类列表 [/userProducts/categories]

### 获取 [GET]

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2

+ Response 200 (application/json)

            [
              {
                "id": 1,
                "pid": 0,
                "icon": "",
                "name": "箱包",
                "sort": 0,
                "created_at": "2016-12-09 17:46:15",
                "updated_at": "2016-12-09 17:46:15"
              },
              {
                "id": 2,
                "pid": 0,
                "icon": "",
                "name": "服装",
                "sort": 0,
                "created_at": "2016-12-09 17:49:24",
                "updated_at": "2016-12-09 17:49:24"
              },
              {
                "id": 3,
                "pid": 0,
                "icon": "",
                "name": "配饰",
                "sort": 0,
                "created_at": "2016-12-09 17:49:31",
                "updated_at": "2016-12-09 17:49:31"
              },
              {
                "id": 4,
                "pid": 0,
                "icon": "",
                "name": "鞋履",
                "sort": 0,
                "created_at": "2016-12-09 17:49:40",
                "updated_at": "2016-12-09 17:49:40"
              },
              {
                "id": 5,
                "pid": 0,
                "icon": "",
                "name": "其它",
                "sort": 0,
                "created_at": "2016-12-09 17:55:43",
                "updated_at": "2016-12-09 17:55:43"
              }
            ]


+ Response 409 (application/json)

            {
                "status": 409,
                "code": 4098,
                "message": "该商品已退换"
            }

+ Response 404 (application/json)

            {
                "status": 404,
                "code": 404,
                "message": "订单不存在"
            }

+ Response 403 (application/json)

            {
                "status": 403,
                "code": 4034,
                "message": "超出订单购买数量"
            }


+ Response 403 (application/json)

            {
                "status": 403,
                "code": 4035,
                "message": "该商品不支持直接退换或超出可无理由退换期限"
            }

+ Response 403 (application/json)

            {
                "status": 403,
                "code": 4036,
                "message": "退换申请不存在"
            }

+ Response 403 (application/json)

            {
                "status": 403,
                "code": 4037,
                "message": "商品不满足退换条件"
            }


## 商品列表 [/userProducts]

用户商品默认显示待审核的商品， 可以通过可选参数进行筛选

### 获取列表 [GET]

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2

    + Attributes

        + user_id: 1 (number, optional) - 用户id, 筛选与该用户有关的商品
        + category_id: 1 (number, optional) -  用户商品分类id
        + is_audited: 1 (number, optional) - 1:筛选审核通过的商品; 0: 筛选侍审核的商品; -1: 审核未通过的商品
        + status: 1 (number, optional) - 1: 上架商品; 0: 下架商品

+ Response 200 (application/json)

            {
              "total": 15,
              "per_page": 15,
              "current_page": 1,
              "last_page": 1,
              "next_page_url": null,
              "prev_page_url": null,
              "from": 1,
              "to": 15,
              "data": [
                {
                  "id": 18,
                  "user_id": 1,
                  "title": "这是测试标题",
                  "keywords": null,
                  "description": "这是描述",
                  "images": [
                    "http://devapi.uzhenbao.com/uploads/userProduct/20161228110300288924.png"
                  ],
                  "price": "129.00",
                  "original_price": "199.00",
                  "category_id": 1,
                  "is_sold": 0,
                  "is_audited": 0,
                  "quality": 99,
                  "delivery_day": 1,
                  "updated_at": "2016-12-28 14:02:25",
                  "created_at": "2016-12-28 11:03:00",
                  "sort": 0,
                  "audited_at": null,
                  "postage": "0.00",
                  "status": 0,
                  "favorites": 0,
                  "views": 6
                }
              ]
            }


### 获取详情 [GET /userProducts/{id}]


商品内容在用户已登录的情况下需要`user-id`和`access-token`验证用户身份, 该信息用于验证用户于该商品之间的联系,
验证通过后会增加`is_favorite`字段, 否则不显示此字段


+ Parameters

    + id: 1 (number) - 商品id

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2

+ Response 200 (application/json)

            {
              "id": 18,
              "user_id": 1,
              "title": "这是测试标题",
              "keywords": null,
              "description": "这是描述",
              "images": [
                "http://devapi.uzhenbao.com/uploads/userProduct/20161228110300288924.png"
              ],
              "price": "129.00",
              "original_price": "199.00",
              "category_id": 1,
              "is_sold": 0,
              "is_audited": 0,
              "quality": {
                "id": 2,
                "name": 99,
                "description": "商品拆包\n轻微使用"
              },
              "delivery_day": 1,
              "updated_at": "2016-12-28 12:06:59",
              "created_at": "2016-12-28 11:03:00",
              "sort": 0,
              "audited_at": null,
              "postage": "0.00",
              "status": 0,
              "favorites": 0,
              "views": 6,
              "user": {
                "id": 1,
                "name": "宝宝30832065",
                "created_at": "2016-11-28 19:34:25",
                "updated_at": "2016-11-30 14:17:47",
                "avatar": {
                  "avatar": "http://devapi.uzhenbao.com/default/avatar.jpg",
                  "thumb": "http://devapi.uzhenbao.com/default/avatar.jpg"
                },
                "summary": "",
                "level": 1,
                "forum_level": 2
              }
            }


+ Response 404 (application/json)

            {
                "status": 404,
                "message": "此商品已下架或不存在"
            }


### 发布 [POST]

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2

    + Attributes

        + title: 阿玛尼正品包包 (string, required) - 商品名称/标题, 最多255个字
        + category_id: 1 (number, required) - 用户商品分类id
        + original_price: 2000 (number, required) - 专柜价/购价/原价
        + price: 1599 (number, required) - 期望出手价
        + postage: 0 (number, required) - 邮费, 0 包邮
        + description: 阿玛尼正品包..... (string, required) - 商品详描述, 最多512字
        + quality: 100 (number, required) - 成色质量, 100, 99, 95, 90, 85, 80, 70
        + delivery_day: 0 (number, required) - 付款后多少天发货, 0: 立即发货; 3: 3天内发货; 5: 5天内发货; 10: 10天内发货; -1: 10天以上,不确定时间发货
        + images (required, array)
            + (object) - image, multipart/form-data


+ Response 201 (application/json)

            {
              "id": 11,
              "user_id": 1,
              "title": "这是测试标题",
              "keywords": null,
              "description": "这是描述",
              "images": [
                "http://devapi.uzhenbao.com/uploads/userProducts/20161214135425434566.png"
              ],
              "price": "129.00",
              "original_price": "199.00",
              "category_id": 1,
              "is_sold": 0,
              "is_audited": 0,
              "quality": 99,
              "delivery_day": 1,
              "updated_at": "2016-12-14 13:54:25",
              "created_at": "2016-12-14 13:54:25",
              "sort": 0,
              "audited_at": null,
              "status": 1
            }



### 更新 [PUT /userProducts/{id}]

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2

    + Attributes

        + status: 1 (number, optional) - 1:上架, 0:下架


+ Response 201 (application/json)

            {
              "id": 11,
              "user_id": 1,
              "title": "这是测试标题",
              "keywords": null,
              "description": "这是描述",
              "images": [
                "http://devapi.uzhenbao.com/uploads/userProducts/20161214135425434566.png"
              ],
              "price": "129.00",
              "original_price": "199.00",
              "category_id": 1,
              "is_sold": 0,
              "is_audited": 0,
              "quality": 99,
              "delivery_day": 1,
              "updated_at": "2016-12-14 13:54:25",
              "created_at": "2016-12-14 13:54:25",
              "sort": 0,
              "audited_at": null,
              "status": 1
            }

+ Response 403 (application/json)

            {
                "status": 403,
                "code": 40310,
                "message": "该商品未通过审核"
            }

+ Response 403 (application/json)

            {
                "status": 403,
                "code": 40311,
                "message": "该商品已售出"
            }


## 成色质量 [/userProducts/qualities]

### 获取 [GET]

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2


+ Response 200 (application/json)

            [
              {
                "id": 1,
                "name": 100,
                "description": "商品全新\n附件齐全(包装盒， 包装袋， 质检合格， 票据等)"
              },
              {
                "id": 2,
                "name": 99,
                "description": "商品拆包\n轻微使用"
              },
              {
                "id": 3,
                "name": 95,
                "description": "日常使用\n无明显划痕\n金属类配件轻微氧化"
              },
              {
                "id": 4,
                "name": 90,
                "description": "明显使用痕迹\n金属氧化磨损\n边角有磨损\n有清洗护理过\n"
              },
              {
                "id": 5,
                "name": 85,
                "description": "有划伤\n边角磨损\n金属氧化较多\n"
              },
              {
                "id": 6,
                "name": 80,
                "description": "使用较久\n磨损较严重，可修复\n整体较旧不洁"
              },
              {
                "id": 7,
                "name": 70,
                "description": "有破损缝补改动配件等"
              }
            ]


+ Response 409 (application/json)

            {
                "status": 409,
                "code": 4098,
                "message": "该商品已退换"
            }

+ Response 404 (application/json)

            {
                "status": 404,
                "code": 404,
                "message": "订单不存在"
            }

+ Response 403 (application/json)

            {
                "status": 403,
                "code": 4034,
                "message": "超出订单购买数量"
            }


+ Response 403 (application/json)

            {
                "status": 403,
                "code": 4035,
                "message": "该商品不支持直接退换或超出可无理由退换期限"
            }

+ Response 403 (application/json)

            {
                "status": 403,
                "code": 4036,
                "message": "退换申请不存在"
            }

+ Response 403 (application/json)

            {
                "status": 403,
                "code": 4037,
                "message": "商品不满足退换条件"
            }


## 咨询 [/userProducts/{userProductId}/consultations]

### 列表 [GET]

+ Parameters

    + userProductId: 11 (number) - 用户商品id

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2

+ Response 200 (application/json)

            {
              "total": 1,
              "per_page": 15,
              "current_page": 1,
              "last_page": 1,
              "next_page_url": null,
              "prev_page_url": null,
              "from": 1,
              "to": 1,
              "data": [
                {
                  "id": 1,
                  "user_product_id": 11,
                  "seller_id": 0,
                  "name": "张三",
                  "user_id": 1,
                  "content": "这是真的吗",
                  "reply": null,
                  "created_at": "2016-12-16 11:52:36",
                  "updated_at": "2016-12-16 11:52:36"
                }
              ]
            }

### 发布 [POST]

+ Parameters

    + userProductId: 11 (number) - 用户商品id

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2

    + Attributes

        + name: 我是好孩子 (required, string) - 用户名
        + user_id: 11 (number, optional) - 用户id
        + content: 咨询的内容 (string, required) - 用户咨询的内容, 最多255字

+ Response 201 (application/json)

            {
                "status": 201,
                "message": "发表成功"
            }

+ Response 404 (application/json)

            {
                "status": 404,
                "message": "商品不存在,或已下架"
            }


### 回复 [PUT /userProducts/{userProductId}/consultations/{id}]

+ Parameters

    + userProductId: 11 (number) - 用户商品id
    + id: 1 (number) - 咨询的id

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2

    + Attributes

        + content: 回复的内容 (string, required) - 回复的内容, 最多255字


+ Response 201 (application/json)

            {
                "id": 2,
                "user_product_id": 11,
                "seller_id": 1,
                "name": "张三",
                "user_id": 1,
                "content": "这是真的吗",
                "reply": "这是真的",
                "created_at": "2016-12-16 12:20:03",
                "updated_at": "2016-12-16 12:20:34"
            }

+ Response 403 (application/json)

            {
                "status": 403,
                "code": 403,
                "message": "拒绝访问资源, 不具备访问权限"
            }

+ Response 404 (application/json)

            {
                "status": 404,
                "code": 40410,
                "message": "咨询不存在，或已被删除"
            }

+ Response 404 (application/json)

            {
                "status": 404,
                "code": 4001,
                "message": "商品或sku不存在, 或已下架"
            }


## 购买 [/users/{id}/userProductOrders]

购买商品APP执行流程: `预览订单` -> `生成订单` -> `选择支付方式获取平台交易信息` -> `客户端向支付平台发起交易` ->
`平台返回结果`

注：支付方式与`平台商品`支付方式一致

| Key | Value | Data Type | Required | Description |
|---|---|---|---|---|
| `user_product_id` | 1 | number | required | 用户商品id |
| `shipping_address_id` | 1 | number | required | 收货地址id |
| `memo` | 这是备注 | string | optional | 备注, 最多255字 |

### 预览订单 [POST /users/{id}/userProductOrders/preview]

+ Parameters

    + id: 1 (number) - 用户id

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2

    + Attributes

        + user_product_id: 1 (required) - 用户商品id
        + shipping_address_id: 4 (required) - 收货地址id
        + memo (optional, string) - 备注内容, 最多255字


+ Response 200 (application/json)

            {
              "total_price": 157.7,
              "original_price": 157.7,
              "postage": 0,
              "coupon_price": 0,
              "available_coupons": []
            }


+ Response 403 (application/json)

            {
              "status": 403,
              "code": 40311,
              "message": "该商品已售出"
            }


+ Response 403 (application/json)

            {
                "status": 403,
                "code": 40312,
                "message": "您不能购买自己发布的商品"
            }

+ Response 404 (application/json)

            {
              "status": 404,
              "code": 4045,
              "message": "收货地址不存在"
            }


### 生成订单 [POST]

+ Parameters

    + id: 1 (number) - 用户id

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2

    + Attributes

        + user_product_id: 1 (required) - 用户商品id
        + shipping_address_id: 4 (required) - 收货地址id
        + memo (optional, string) - 备注内容, 最多255字

+ Response 201 (application/json)

            {
                "id": 71,
                "order_no": "M1612158590292881939",
                "status": 0,
                "user_id": 2,
                "return_id": null,
                "amount": 1,
                "original_price": "129.00",
                "total_price": "138.80",
                "coupon_price": "0.00",
                "memo": "这是备注",
                "created_at": "2016-12-15 17:07:59",
                "updated_at": "2016-12-15 17:07:59",
                "deleted_at": null,
                "cancel_id": null,
                "cancel_description": null,
                "pay_platform_id": null,
                "pay_platform_trade_no": null,
                "coupon_id": null,
                "coupon_group_id": null,
                "is_invoice": 0,
                "invoice_type": null,
                "invoiced": null,
                "express_id": null,
                "tracking_number": null,
                "express_traces": null,
                "express_refresh": "2016-12-15 17:07:59",
                "dispatched_at": null,
                "received_at": null,
                "is_refunded": null,
                "is_restored_stock": 0,
                "seller_id": 1
            }

+ Response 403 (application/json)

            {
              "status": 403,
              "code": 40311,
              "message": "该商品已售出"
            }


+ Response 403 (application/json)

            {
                "status": 403,
                "code": 40312,
                "message": "您不能购买自己发布的商品"
            }

+ Response 404 (application/json)

            {
              "status": 404,
              "code": 4045,
              "message": "收货地址不存在"
            }


## 收藏 [/users/{userId}/favorites/userProducts]

Request 参数说明

| key | Value | Description |
|---|---|---|
|`favorite_id`| 1 | 收藏类型的id, 注意此处不是指收藏列表本身的id,例:收藏商品,此处应是商品的id; 收藏主题,此处应是主题的id |


### 加入收藏 [POST]

+ Parameters

    + userId: 22 - id of a user

+ Request (application/json)

    + Attributes

        + favorite_id: 11 (number, required) - user product id

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux

+ Response 201 (application/json)

            {
                "favorite_id":"104",
                "user_id":"22",
                "favorite_type":"userProduct",
                "title":"121",
                "title_image":"http://devapi.uzhenbao.com/uploads/goods/14731270876338_goods.jpg",
                "description":"1212",
                "updated_at":"2016-09-08 16:33:42",
                "created_at":"2016-09-08 16:33:42",
                "id":214
            }

+ Response 404 (application/json)

            {
                "status": 404,
                "message": "userProduct.id 不存在"
            }

+ Response 409 (application/json)

            {
                "status": 409,
                "code": 4096,
                "message": "已收藏userProduct.id"
            }


### 取消收藏 [DELETE /users/{userId}/favorites/userProducts/{id}]

+ Parameters

    + userId: 22 - id of a user
    + id: 12 - user product id

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux

+ Response 204



### 收藏列表 [GET]

+ Parameters

    + userId: 22 - id of a user

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux

+ Response 200 (application/json)

            {
                "total":1,
                "per_page":15,
                "current_page":1,
                "last_page":1,
                "next_page_url":null,
                "prev_page_url":null,
                "from":1,
                "to":1,
                "data":[
                    {
                        "id":214,
                        "user_id":22,
                        "favorite_id":104,
                        "favorite_type":"userProduct",
                        "title":"121",
                        "title_image":"http://devapi.uzhenbao.com/uploads/goods/14731270876338_goods.jpg",
                        "description":"1212",
                        "created_at":"2016-09-08 16:33:42",
                        "updated_at":"2016-09-08 16:33:42"
                    }
                ]
            }


# Group 销售者

## 订单 [/sellers/{userId}/orders]

订单支持 Request 中两种方式进行筛选，两者可以共存, 建议只使用其中一种方式

`status` 状态码进行筛选

|Key|Value|Description|
|---|---|---|
|`status`|`-1`|已取消|
|`status`|`1`|消费者已付款, 待发货|
|`status`|`1.1`|销售者已发货，待平台收货|
|`status`|`1.2`|平台已收货，检测中|
|`status`|`2`|已发货，待消费者收货|
|`status`|`3`|消费者已收货|



`filter` 业务流程进行筛选

|Key|Value|Description|
|---|---|---|
|`filter`|`canceled`|已取消|
|`filter`|`finished`|已完成|
|`filter`|`waitSend`|待发货|
|`filter`|`sending`|物流中|


### 列表 [GET]

+ Parameters

    + userId: 1 (number) - 销售者用户id


+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux

+ Response 200 (applicaiton/json)


            {
              "total": 1,
              "per_page": 15,
              "current_page": 1,
              "last_page": 1,
              "next_page_url": null,
              "prev_page_url": null,
              "from": 1,
              "to": 1,
              "data": [
                {
                  "id": 51,
                  "order_no": "M1612266559738245862",
                  "status": 3,
                  "user_id": 148,
                  "return_id": null,
                  "amount": 1,
                  "original_price": "0.10",
                  "total_price": "0.10",
                  "coupon_price": "0.00",
                  "memo": "记得发快递",
                  "created_at": "2016-12-26 15:44:05",
                  "updated_at": "2016-12-28 13:00:06",
                  "deleted_at": null,
                  "cancel_id": null,
                  "cancel_description": null,
                  "pay_platform_id": 1,
                  "pay_platform_trade_no": "2016122621001004200209606031",
                  "coupon_id": null,
                  "coupon_group_id": null,
                  "is_invoice": 0,
                  "invoice_type": null,
                  "invoiced": null,
                  "express_id": 3,
                  "tracking_number": "12345678996",
                  "express_traces": null,
                  "express_refresh": "2016-12-26 15:44:05",
                  "dispatched_at": "2016-12-28 10:17:26",
                  "received_at": "2016-12-28 10:19:49",
                  "is_refunded": null,
                  "is_restored_stock": 0,
                  "seller_id": 2,
                  "platform_address": {
                    "province": "上海市",
                    "city": "上海市",
                    "area": "黄浦区",
                    "street": "人民东路332号",
                    "room": "外滩soho F座",
                    "phone": "128123123213",
                    "real_name": "上海烨历网络科技有限公司"
                  },
                  "items": [
                    {
                      "id": 145,
                      "order_id": 51,
                      "product_id": null,
                      "product_item_id": null,
                      "user_product_id": 16,
                      "amount": 1,
                      "unit_price": "0.10",
                      "total_price": "0.10",
                      "apply_id": null,
                      "return_id": null,
                      "is_returned": 0,
                      "is_applied": 0,
                      "created_at": "2016-12-26 15:44:05",
                      "updated_at": "2016-12-26 15:44:05",
                      "user_product": {
                        "id": 16,
                        "user_id": 129,
                        "title": "原装进口东方明珠模型",
                        "keywords": null,
                        "description": "这是去年买的东方明珠模型，全新，拆过，但是没有用过。买的价格是 999，现在价格还涨了",
                        "images": [
                          "http://devapi.uzhenbao.com/uploads/userGoods/20161226153819506526.jpg"
                        ],
                        "price": "0.10",
                        "original_price": "999.00",
                        "category_id": 5,
                        "is_sold": 1,
                        "is_audited": 1,
                        "quality": 99,
                        "delivery_day": 3,
                        "updated_at": "2016-12-28 11:41:36",
                        "created_at": "2016-12-26 15:38:19",
                        "sort": 0,
                        "audited_at": "2016-12-26 15:43:22",
                        "postage": "0.00",
                        "status": 1,
                        "favorites": 0,
                        "views": 21
                      }
                    }
                  ],
                  "user": {
                    "id": 148,
                    "name": "宝宝33014641",
                    "created_at": "2016-12-05 17:57:12",
                    "updated_at": "2016-12-26 14:56:56",
                    "avatar": {
                      "avatar": "http://devapi.uzhenbao.com/uploads/users/14827354167824_avatar.jpg",
                      "thumb": "http://devapi.uzhenbao.com/uploads/users/thumb_14827354167824_avatar.jpg"
                    },
                    "summary": "",
                    "level": 1,
                    "forum_level": 0
                  }
                }
              ]
            }



### 详情 [GET /sellers/{userId}/orders/{id}]

+ Parameters

    + userId: 1 (number) - 销售者用户id
    + id: 1 (number) - 订单id

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux

+ Response 200 (applicaiton/json)

            {
              "id": 51,
              "order_no": "M1612266559738245862",
              "status": 3,
              "user_id": 148,
              "return_id": null,
              "amount": 1,
              "original_price": "0.10",
              "total_price": "0.10",
              "coupon_price": "0.00",
              "memo": "记得发快递",
              "created_at": "2016-12-26 15:44:05",
              "updated_at": "2016-12-28 13:00:06",
              "deleted_at": null,
              "cancel_id": null,
              "cancel_description": null,
              "pay_platform_id": 1,
              "pay_platform_trade_no": "2016122621001004200209606031",
              "coupon_id": null,
              "coupon_group_id": null,
              "is_invoice": 0,
              "invoice_type": null,
              "invoiced": null,
              "express_id": 3,
              "tracking_number": "12345678996",
              "express_traces": null,
              "express_refresh": "2016-12-26 15:44:05",
              "dispatched_at": "2016-12-28 10:17:26",
              "received_at": "2016-12-28 10:19:49",
              "is_refunded": null,
              "is_restored_stock": 0,
              "seller_id": 2,
              "platform_address": {
                "province": "上海市",
                "city": "上海市",
                "area": "黄浦区",
                "street": "人民东路332号",
                "room": "外滩soho F座",
                "phone": "128123123213",
                "real_name": "上海烨历网络科技有限公司"
              },
              "express": {
                "id": 3,
                "name": "申通快递",
                "alias": "ST"
              },
              "items": [
                {
                  "id": 145,
                  "order_id": 51,
                  "product_id": null,
                  "product_item_id": null,
                  "user_product_id": 16,
                  "amount": 1,
                  "unit_price": "0.10",
                  "total_price": "0.10",
                  "apply_id": null,
                  "return_id": null,
                  "is_returned": 0,
                  "is_applied": 0,
                  "created_at": "2016-12-26 15:44:05",
                  "updated_at": "2016-12-26 15:44:05",
                  "user_product": {
                    "id": 16,
                    "user_id": 129,
                    "title": "原装进口东方明珠模型",
                    "keywords": null,
                    "description": "这是去年买的东方明珠模型，全新，拆过，但是没有用过。买的价格是 999，现在价格还涨了",
                    "images": [
                      "http://devapi.uzhenbao.com/uploads/userGoods/20161226153819506526.jpg"
                    ],
                    "price": "0.10",
                    "original_price": "999.00",
                    "category_id": 5,
                    "is_sold": 1,
                    "is_audited": 1,
                    "quality": 99,
                    "delivery_day": 3,
                    "updated_at": "2016-12-28 11:41:36",
                    "created_at": "2016-12-26 15:38:19",
                    "sort": 0,
                    "audited_at": "2016-12-26 15:43:22",
                    "postage": "0.00",
                    "status": 1,
                    "favorites": 0,
                    "views": 21
                  }
                }
              ],
              "seller": {
                "id": 2,
                "name": "哈哈",
                "created_at": "2016-11-28 19:44:45",
                "updated_at": "2016-12-15 16:33:53",
                "avatar": {
                  "avatar": "http://devapi.uzhenbao.com/uploads/users/14817908332462_avatar.jpg",
                  "thumb": "http://devapi.uzhenbao.com/uploads/users/thumb_14817908332462_avatar.jpg"
                },
                "summary": "",
                "level": 1,
                "forum_level": 13
              },
              "user": {
                "id": 148,
                "name": "宝宝33014641",
                "created_at": "2016-12-05 17:57:12",
                "updated_at": "2016-12-26 14:56:56",
                "avatar": {
                  "avatar": "http://devapi.uzhenbao.com/uploads/users/14827354167824_avatar.jpg",
                  "thumb": "http://devapi.uzhenbao.com/uploads/users/thumb_14827354167824_avatar.jpg"
                },
                "summary": "",
                "level": 1,
                "forum_level": 0
              }
            }


### 发货 [PUT /sellers/{userId}/orders/{id}]

+ Parameters

    + userId: 1 (number) - 销售者用户id
    + id: 1 (number) - 订单id

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux

    + Attributes

        + tracking_number: 91282929291 (string) - 快递运单号
        + express_id: 1 (number) - 快递id

+ Response 201 (applicaiton/json)

            {
                "status": 201,
                "code": 201,
                "message": "保存成功"
            }

+ Response 409 (applicaiton/json)

            {
                "status": 409,
                "code": 40910,
                "message": "订单已发货"
            }


## 银行卡 [/users/{id}/bankcard]


Request 参数说明

| Key | Value | Length | Required | Description |
|---|---|---|---|---|
|`number`| 1229198281854829192 | [16, 19] | true | 银行卡号 |
|`real_name`| 张三 | (0, 15] | true | 户主真实姓名 |
|`name`| 中国工商银行 | (0, 20] | true | 发卡银行 |


### 绑定 [POST]


+ Parameters

    + id: 1 - 用户id

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux

    + Attributes

        + number: 1229198281854829192 (string) - 银行卡号
        + real_name: 张三 (string) - 真实姓名
        + name: 中国工商银行 (string) - 发卡银行


+ Response 201 (application/json)

            {
                "number": "1231231232131321313",
                "real_name": "张三",
                "name": "中国工商银行",
                "user_id": 2,
                "updated_at": "2016-12-28 19:05:24",
                "created_at": "2016-12-28 19:05:24"
            }


+ Response 409 (application/json)

            {
                "status": 409,
                "code": 409,
                "message": "资源已存在"
            }

## 更新 [PUT]

+ Parameters

    + id: 1 - 用户id

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux

    + Attributes

        + number: 1229198281854829192 (string) - 银行卡号
        + real_name: 张三 (string) - 真实姓名
        + name: 中国工商银行 (string) - 发卡银行


+ Response 201 (application/json)


            {
                "number": "1231231232131321313",
                "real_name": "张三",
                "name": "中国工商银行",
                "user_id": 2,
                "updated_at": "2016-12-28 19:05:24",
                "created_at": "2016-12-28 19:05:24"
            }

+ Response 404 (application/json)

            {
                "status": 404,
                "code": 404,
                "message": "资源不存在"
            }

### 获取 [GET]

+ Parameters

    + id: 1 - 用户id

+ Request (application/json)

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux


+ Response 200 (application/json)

            {
              "user_id": 2,
              "name": "中国工商银行",
              "number": "1231231232131321313",
              "real_name": "张三",
              "is_default": 0,
              "updated_at": "2016-12-28 19:05:24",
              "created_at": "2016-12-28 19:05:24"
            }

+ Response 404 (application/json)

            {
                "status": 404,
                "code": 404,
                "message": "资源不存在"
            }



## 结算单 [/sellers/{userId}/orderResults]

Response 部分字段说明

| Key | Value | Description |
|---|---|---|
| is_remitted | 1 | 0: 未汇款 , 1: 已汇款|
| remit_number | 92929292872 | 汇款单号 |
| is_audited | 1 | 0: 用户未确认结算, 1: 用户已确认结算 |
| bankcard_name | 中国工商银行 |  银行卡发卡行名称 |
| bankcard_real_name | 张三 | 持卡人姓名 |
| bankcard_number | 122982829282829289 | 银行卡卡号 |


### 列表 [GET]

+ Parameters

    + userId: 4 (number) - 用户id

+ Request

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux


+ Response 200 (application/json)

            {
              "total": 1,
              "per_page": 15,
              "current_page": 1,
              "last_page": 1,
              "next_page_url": null,
              "prev_page_url": null,
              "from": 1,
              "to": 1,
              "data": [
                {
                  "id": 21,
                  "user_id": 4,
                  "money": "0.03",
                  "month": 12,
                  "year": 2016,
                  "created_at": "2017-01-07 17:13:01",
                  "is_remitted": 1,
                  "remit_number": null,
                  "is_audited": 0
                  "bankcard_number": null,
                  "bankcard_real_name": null,
                  "bankcard_name": null
                }
              ]
            }


### 详情 [GET /sellers/{userId}/orderResults/{id}]

+ Parameters

    + userId: 4 (number) - 用户id
    + id: 1 (number) - 订单id

+ Request

    + Headers

            timestamp: 1478840722
            app-key: 92lsk20ks
            sign: 9cf1587dac6bef69d34eaaec467689a7ffe2a5d5
            api-version: 2
            user-id: 22
            access-token: $2y$10$Kbz6jSCLHLkm4D5Gp67xhux

[...]
